.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Common styles for modal content */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: fadeIn 0.3s ease;
}

/* Styles for the contact modal */
.contact-modal {
  width: 400px;
  max-height: 80vh;
}

/* Styles for the fact sheet modal */
.fact-sheet-modal {
  width: 80%;
  max-width: 1000px;
  max-height: 90vh;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  padding: 10px;
  scroll-behavior: smooth;
}

.fact-sheet-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.fact-sheet-list button {
  padding: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

.fact-sheet-list button:hover {
  background-color: #e74c3c;
  color: #ffffff;
}

.modal-close {
  position: absolute; /* Position relative to the modal */
  top: 10px; /* Adjust top position */
  right: 20px; /* Adjust right position */
  background: transparent; /* Transparent background */
  border: none; /* No border */
  color: #e74c3c; /* Color of the icon */
  font-size: 1.5rem; /* Adjust size as necessary */
  cursor: pointer; /* Pointer cursor on hover */
}

.modal-close:hover {
  color: #d35400; /* Change color on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
